



# Data Loading and Preprocessing

---

### A.  Imports

In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_style("whitegrid")
pd.set_option("display.max_columns", 200)

# Load the raw games dataset

### B.  Load Data

In [ ]:

# Load locally stored nflverse games dataset (downloaded and saved in data/raw/)
df = pd.read_csv("../data/raw/games.csv")

df.shape #7276 rows, 24 columns

(7276, 46)

In [17]:
df.head() # Display the first 5 rows of the dataset to get an overview of the data structure and contents.

,game_id,season,game_type,week,gameday,weekday,gametime,away_team,away_score,home_team,home_score,location,result,total,overtime,old_game_id,gsis,nfl_detail_id,pfr,pff,espn,ftn,away_rest,home_rest,away_moneyline,home_moneyline,spread_line,away_spread_odds,home_spread_odds,total_line,under_odds,over_odds,div_game,roof,surface,temp,wind,away_qb_id,home_qb_id,away_qb_name,home_qb_name,away_coach,home_coach,referee,stadium_id,stadium
0,1999_01_MIN_ATL,1999,REG,1,1999-09-12,Sunday,NaN,MIN,17,ATL,14,Home,-3,31,0,1999091210,598,NaN,199909120atl,NaN,190912001,NaN,7,7,NaN,NaN,-4.0,NaN,NaN,49.0,NaN,NaN,0,dome,astroturf,NaN,NaN,00-0003761,00-0002876,Randall Cunningham,Chris Chandler,Dennis Green,Dan Reeves,Gerry Austin,ATL00,Georgia Dome
1,1999_01_KC_CHI,1999,REG,1,1999-09-12,Sunday,NaN,KC,17,CHI,20,Home,3,37,0,1999091206,597,NaN,199909120chi,NaN,190912003,NaN,7,7,NaN,NaN,-3.0,NaN,NaN,38.0,NaN,NaN,0,outdoors,grass,80.0,12.0,00-0006300,00-0010560,Elvis Grbac,Shane Matthews,Gunther Cunningham,Dick Jauron,Phil Luckett,CHI98,Soldier Field
2,1999_01_PIT_CLE,1999,REG,1,1999-09-12,Sunday,NaN,PIT,43,CLE,0,Home,-43,43,0,1999091213,604,NaN,199909120cle,NaN,190912005,NaN,7,7,NaN,NaN,-6.0,NaN,NaN,37.0,NaN,NaN,1,outdoors,grass,78.0,12.0,00-0015700,00-0004230,Kordell Stewart,Ty Detmer,Bill Cowher,Chris Palmer,Bob McElwee,CLE00,Cleveland Browns Stadium
3,1999_01_OAK_GB,1999,REG,1,1999-09-12,Sunday,NaN,OAK,24,GB,28,Home,4,52,0,1999091208,602,NaN,199909120gnb,NaN,190912009,NaN,7,7,NaN,NaN,9.0,NaN,NaN,43.0,NaN,NaN,0,outdoors,grass,67.0,10.0,00-0005741,00-0005106,Rich Gannon,Brett Favre,Jon Gruden,Ray Rhodes,Tony Corrente,GNB00,Lambeau Field
4,1999_01_BUF_IND,1999,REG,1,1999-09-12,Sunday,NaN,BUF,14,IND,31,Home,17,45,0,1999091202,591,NaN,199909120clt,NaN,190912011,NaN,7,7,NaN,NaN,-3.0,NaN,NaN,45.5,NaN,NaN,1,dome,astroturf,NaN,NaN,00-0005363,00-0010346,Doug Flutie,Peyton Manning,Wade Phillips,Jim Mora,Ron Blum,IND99,RCA Dome

In [19]:
df.info() # Get a concise summary of the DataFrame, including data types and non-null counts.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7276 entries, 0 to 7275
Data columns (total 46 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   game_id           7276 non-null   object
 1   season            7276 non-null   int64
 2   game_type         7276 non-null   object
 3   week              7276 non-null   int64
 4   gameday           7276 non-null   object
 5   weekday           7276 non-null   object
 6   gametime          7017 non-null   object
 7   away_team         7276 non-null   object
 8   away_score        7276 non-null   int64
 9   home_team         7276 non-null   object
 10  home_score        7276 non-null   int64
 11  location          7276 non-null   object
 12  result            7276 non-null   int64
 13  total             7276 non-null   int64
 14  overtime          7276 non-null   int64
 15  old_game_id       7276 non-null   int64
 16  gsis              7276 non-null   int64
 17  nfl_detail_id     272 non-null    object
 18  pfr               7276 non-null   object
 19  pff               4564 non-null   float64
 20  espn              7276 non-null   int64
 21  ftn               1654 non-null   float64
 22  away_rest         7276 non-null   int64
 23  home_rest         7276 non-null   int64
 24  away_moneyline    5295 non-null   float64
 25  home_moneyline    5295 non-null   float64
 26  spread_line       7276 non-null   float64
 27  away_spread_odds  5295 non-null   float64
 28  home_spread_odds  5295 non-null   float64
 29  total_line        7276 non-null   float64
 30  under_odds        5292 non-null   float64
 31  over_odds         5292 non-null   float64
 32  div_game          7276 non-null   int64
 33  roof              7276 non-null   object
 34  surface           7232 non-null   object
 35  temp              5206 non-null   float64
 36  wind              5206 non-null   float64
 37  away_qb_id        7276 non-null   object
 38  home_qb_id        7276 non-null   object
 39  away_qb_name      7276 non-null   object
 40  home_qb_name      7276 non-null   object
 41  away_coach        7276 non-null   object
 42  home_coach        7276 non-null   object
 43  referee           7275 non-null   object
 44  stadium_id        7276 non-null   object
 45  stadium           7276 non-null   object
dtypes: float64(12), int64(13), object(21)
memory usage: 2.6+ MB

In [20]:
df.isna().sum().sort_values(ascending=False).head(20) # Check for missing values in the dataset, sort them in descending order, and display the top 20 columns with the most missing values.

nfl_detail_id       7004
ftn                 5622
pff                 2712
temp                2070
wind                2070
under_odds          1984
over_odds           1984
home_moneyline      1981
away_moneyline      1981
away_spread_odds    1981
home_spread_odds    1981
gametime             259
surface               44
referee                1
spread_line            0
roof                   0
div_game               0
away_qb_id             0
home_qb_id             0
away_qb_name           0
dtype: int64

### C.   Filter to Relevant Seasons (2000-2023)

In [37]:
df = df[(df["season"] >= 2000) & (df["season"] <= 2023)].copy() # Filter the DataFrame to include only rows where the 'season' column is between 2000 and 2023 (inclusive). The `.copy()` method is used to create a new DataFrame, which helps avoid potential issues with chained indexing later on.
df["season"].min(), df["season"].max() # Confirm that the filtering worked correctly by checking the minimum and maximum values in the 'season' column.

(np.int64(2000), np.int64(2023))

### D. Focus on Regular Season (Primary Analysis)

In [38]:
df["game_type"].value_counts()
# Keep regular season primarily; keep playoffs separately for comparison

game_type
REG    6175
WC      104
DIV      96
CON      48
SB       24
Name: count, dtype: int64

In [40]:
# Create separate DataFrames for regular season and postseason games
# Exclude preseason games (if any) since they are not relevant to our analysis of home field advantage in regular season and playoffs.
df_reg = df[df["game_type"] == "REG"].copy()
df_post = df[df["game_type"] == "POST"].copy()

df_reg.shape, df_post.shape

((6175, 46), (0, 46))

### E. Clean Score Columns

In [42]:
df_reg["home_score"] = pd.to_numeric(df_reg["home_score"], errors="coerce")
df_reg["away_score"] = pd.to_numeric(df_reg["away_score"], errors="coerce")

df_reg = df_reg.dropna(subset=["home_score", "away_score"])
# Create a new column 'home_win' that indicates whether the home team won (1) or not (0)
# coercing the scores to numeric and dropping rows with missing values ensures that we can accurately determine the winner of each game.

### F. Create Derived Variables

In [44]:
# Create a new column 'home_margin' that calculates the point difference between the home and away teams. This will help us analyze not just whether the home team won, but also by how much they won or lost.
df_reg["home_margin"] = df_reg["home_score"] - df_reg["away_score"]

# 1 = home win, 0 = home loss, NaN = tie
df_reg["home_win"] = np.where(
    df_reg["home_score"] > df_reg["away_score"], 1,
    np.where(df_reg["home_score"] < df_reg["away_score"], 0, np.nan)
)

# Create a new column 'home_tie' that indicates whether the game was a tie (1) or not (0). This will allow us to analyze the frequency of ties in the dataset, which can be important for understanding the distribution of game outcomes.
df_reg["home_tie"] = (df_reg["home_score"] == df_reg["away_score"]).astype(int)

### G. Sanity Checks

In [47]:
# Win rate should be between 0 and 1
print(df_reg["home_win"].mean())
print(df_reg["home_tie"].mean()) 
print(df_reg[["home_score", "away_score"]].describe()) # Check the distribution of home and away scores to identify any anomalies or outliers that may affect our analysis.
print(df_reg["game_id"].nunique(), len(df_reg)) # Check for duplicate game IDs to ensure that each row represents a unique game. The number of unique game IDs should match the total number of rows in the DataFrame after filtering and cleaning.

0.5625710111994806
0.0022672064777327933
        home_score   away_score
count  6175.000000  6175.000000
mean     23.170040    20.939595
std      10.300124    10.082977
min       0.000000     0.000000
25%      16.000000    14.000000
50%      23.000000    20.000000
75%      30.000000    27.000000
max      70.000000    59.000000
6175 6175

### G. Save Clean Dataset

In [49]:
# new files with cleaned regular season data and postseason data for comparison
# index=False to avoid writing the default index to the CSV file, which is not needed since 'game_id' can serve as a unique identifier for each game.

df_reg.to_csv("../data/processed/games_reg_2000_2023_clean.csv", index=False)
df_post.to_csv("../data/processed/games_post_2000_2023_clean.csv", index=False)